[submodule "docs/sub_docs/element-array-ephys"]
	path = docs/sub_docs/element-array-ephys
	url = https://github.com/A-Baji/element-array-ephys.git
	branch = gh-pages
[submodule "docs/element-array-ephys"]
	path = docs/element-array-ephys
	url = https://github.com/A-Baji/element-array-ephys.git
	branch = gh-pages
