# ---------------------- PROJECT SPECIFIC ---------------------------

site_name: DataJoint Documentation
site_url: https://docs.datajoint.com
repo_name: datajoint/datajoint-docs
repo_url: https://github.com/datajoint/datajoint-docs
nav:
  - Home: index.md
  - Concepts:
      - explanation/index.md
      - Relational Workflow Model: explanation/relational-workflow-model.md
      - Entity Integrity: explanation/entity-integrity.md
      - Normalization: explanation/normalization.md
      - Query Algebra: explanation/query-algebra.md
      - Type System: explanation/type-system.md
      - Computation Model: explanation/computation-model.md
  - Tutorials:
      - tutorials/index.md
      # Notebooks will be added here
  - How-To:
      - how-to/index.md
      # Guides will be added here
  - Reference:
      - reference/index.md
      - Specifications:
          - reference/specs/index.md
          - Primary Keys: reference/specs/primary-keys.md
          - Semantic Matching: reference/specs/semantic-matching.md
          - Type System: reference/specs/type-system.md
          - Codec API: reference/specs/codec-api.md
          - AutoPopulate: reference/specs/autopopulate.md
          - Fetch API: reference/specs/fetch-api.md
          - Job Metadata: reference/specs/job-metadata.md
      - Configuration: reference/configuration.md
      - Definition Syntax: reference/definition-syntax.md
      - Errors: reference/errors.md
  - API:
      - api/index.md
      # Auto-generated pages will be added here
  - Elements:
      - elements/index.md
      - Concepts: elements/concepts.md
      - User Guide: elements/user-guide.md
  - About:
      - about/index.md
      - History: about/history.md
      - Citation: about/citation.md
      - Contributing: about/contributing.md

# ---------------------------- STANDARD -----------------------------

docs_dir: ./src
edit_uri: ./edit/main/src
theme:
  font:
    text: Roboto Slab
    code: Source Code Pro
  name: material
  custom_dir: src/.overrides
  icon:
    logo: main/company-logo
  favicon: assets/images/company-logo-blue.png
  features:
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: datajoint
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
  - mermaid2
  - section-index
  - mkdocs-jupyter:
      include_source: true
      execute: false  # Don't execute notebooks during build
  - exclude:
      glob:
        - archive/*
        - images/*md
markdown_extensions:
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.emoji:
      options:
        custom_icons:
          - .overrides/.icons
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - mdx_truly_sane_lists
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - pymdownx.details: # permit folded <details> blocks via `??? note "Title"` format
  - pymdownx.snippets # Allows including file snippets e.g. --8<-- "; src/file.md"
  - pymdownx.magiclink # Displays bare URLs as links
  - pymdownx.tasklist: # Renders check boxes in tasks lists
      custom_checkbox: true
extra:
  generator: false # Disable watermark
  # There is no version for this doc
  # version:
  #   provider: mike
  social:
    - icon: main/company-logo
      link: https://www.datajoint.com
      name: DataJoint
    - icon: main/company-logo
      link: https://docs.datajoint.com
      name: DataJoint Documentation
    - icon: fontawesome/brands/slack
      link: https://datajoint.slack.com
      name: Slack
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/datajoint
      name: LinkedIn
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/datajoint
      name: Twitter
    - icon: fontawesome/brands/github
      link: https://github.com/datajoint
      name: GitHub
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/datajoint
      name: DockerHub
    - icon: fontawesome/brands/python
      link: https://pypi.org/user/datajointbot
      name: PyPI
    - icon: fontawesome/brands/stack-overflow
      link: https://stackoverflow.com/questions/tagged/datajoint
      name: StackOverflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@datajoint
      name: YouTube
extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - https://js-na1.hs-scripts.com/23133402.js # HubSpot chatbot
