mkdocs-material
mike
mkdocs-redirects
mkdocs-exclude
mdx_truly_sane_lists
mkdocs-pymdownx-material-extras
pymdown-extensions
mkdocs-section-index
mkdocs-mermaid2-plugin
mkdocs-jupyter
nbconvert
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-autorefs
