mkdocs-material
mkdocs-exclude
mdx_truly_sane_lists
pymdown-extensions
mkdocs-section-index
mkdocs-mermaid2-plugin
mkdocs-jupyter
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-autorefs
